# **Importação Bibliotecas**

In [ ]:
import pandas as pd
import os

# **Importando Dados do Arquivo**

In [ ]:

Dados = '/content/vaccinations alt.csv'
Dados

'/content/vaccinations alt.csv'

# **Criando Data Frame**

In [ ]:
Dataframe = pd.read_csv (Dados, sep=',')
Dataframe.head (200)

    location iso_code  ... people_vaccinated  daily_vaccinations
0    Albania      ALB  ...               0.0                 NaN
1    Albania      ALB  ...               NaN                64.0
2    Albania      ALB  ...             128.0                64.0
3    Albania      ALB  ...             188.0                63.0
4    Albania      ALB  ...             266.0                66.0
..       ...      ...  ...               ...                 ...
195  Austria      AUT  ...           60708.0              9673.0
196  Austria      AUT  ...           70474.0             10876.0
197  Austria      AUT  ...           86888.0             15156.0
198  Austria      AUT  ...          105038.0             15108.0
199  Austria      AUT  ...          121216.0             13746.0

[200 rows x 6 columns]

# **Análise do Dataset**

In [ ]:
Dataframe.query('location == "Brazil"').sort_values('date' , ascending=False)[:5]
# Mostra N valores filtrando pelo Brasil

    location iso_code  ... people_vaccinated  daily_vaccinations
560   Brazil      BRA  ...         2046523.0            209905.0
559   Brazil      BRA  ...         1923813.0            209348.0
558   Brazil      BRA  ...         1656851.0            203165.0
588   Brazil      BRA  ...         6518628.0            211824.0
557   Brazil      BRA  ...         1450900.0            187769.0

[5 rows x 6 columns]

In [ ]:
Dataframe['location'].nunique() #Verifica numero de paises na base

116

# **Identificando pais com maior numero de imunizados**

In [ ]:
Ultima_Data = Dataframe['date'].max()
Ultima_Data
#Identifica ultima data de coleta

'31/12/2020'

In [ ]:
Ultima_Data = Dataframe[Dataframe.date == Ultima_Data]
Ultima_Data
#Filtrando ultima data

              location iso_code  ... people_vaccinated  daily_vaccinations
113          Argentina      ARG  ...               NaN             15656.0
265            Bahrain      BHR  ...           58643.0              1225.0
374            Belarus      BLR  ...               NaN               403.0
427            Belgium      BEL  ...             786.0               163.0
591           Bulgaria      BGR  ...               NaN              1477.0
723     Cayman Islands      CYM  ...               NaN               275.0
787              Chile      CHL  ...            8650.0              1176.0
863              China      CHN  ...               NaN            187500.0
924         Costa Rica      CRI  ...               NaN               240.0
979            Croatia      HRV  ...               NaN              1105.0
1092           Czechia      CZE  ...           11798.0              2634.0
1156           Denmark      DNK  ...           34980.0              7128.0
1291           England      NaN  ...               NaN             45005.0
1353           Estonia      EST  ...               NaN               567.0
1455           Finland      FIN  ...               NaN                 NaN
1519            France      FRA  ...             316.0                76.0
1582           Germany      DEU  ...          181344.0             39447.0
1694            Greece      GRC  ...            2339.0               631.0
1811           Hungary      HUN  ...               NaN              1339.0
1872           Iceland      ISL  ...               NaN                63.0
2033           Ireland      IRL  ...               NaN                 NaN
2141            Israel      ISR  ...          997449.0            111987.0
2205             Italy      ITA  ...           38899.0              7971.0
2377            Kuwait      KWT  ...               NaN              1121.0
2544         Lithuania      LTU  ...            9751.0              1102.0
2605        Luxembourg      LUX  ...               NaN                62.0
2778            Mexico      MEX  ...               NaN              3695.0
2839            Monaco      MCO  ...               NaN               126.0
3021  Northern Ireland      NaN  ...               NaN              1808.0
3084            Norway      NOR  ...            2171.0               542.0
3144              Oman      OMN  ...            6516.0              1600.0
3286            Poland      POL  ...           47600.0             15200.0
3350          Portugal      PRT  ...           32749.0              6946.0
3419             Qatar      QAT  ...               NaN              1351.0
3472           Romania      ROU  ...           10289.0              2741.0
3548            Russia      RUS  ...               NaN             68000.0
3664          Scotland      NaN  ...               NaN              3867.0
3928          Slovenia      SVN  ...           10890.0              1244.0
4092            Sweden      SWE  ...               NaN              1767.0
4337     United States      USA  ...               NaN            278776.0
4421             Wales      NaN  ...               NaN              1923.0

[41 rows x 6 columns]

In [ ]:
Ultima_Data.shape
#Mostra qtde linhas , colunas

(41, 6)

# **Correção de dados e análise da base**

Nem todos os paise reportaram na ultima data por isso tem 118 paise e 37 registros na ultima data

In [ ]:
Dataframe.groupby ('location')['date'].max().sort_values(ascending=False)
#Selecionando o ultimo registro de cada pais

location
Poland          31/12/2020
France          31/12/2020
Portugal        31/12/2020
Italy           31/12/2020
Czechia         31/12/2020
                   ...
Pakistan        21/02/2021
Macao           18/02/2021
Iran            17/02/2021
Anguilla        14/02/2021
Saint Helena    03/02/2021
Name: date, Length: 116, dtype: object

In [ ]:
Dataframe.groupby ('location')['total_vaccinations'].max().sort_values(ascending=False)
#Pegando o valor maximo de imunizações de cada pais

location
United States          75236003.0
China                  40520000.0
England                17641792.0
India                  14301266.0
Turkey                  8547875.0
                          ...
Paraguay                   1000.0
Trinidad and Tobago         440.0
Venezuela                   157.0
Saint Helena                107.0
San Marino                   35.0
Name: total_vaccinations, Length: 116, dtype: float64

In [ ]:
Imunizados_por_pais = Dataframe.groupby('location')['total_vaccinations'].max().sort_values(ascending=False)
print(Imunizados_por_pais)
type(Imunizados_por_pais)
#Numero total de imunizados por pais

location
United States          75236003.0
China                  40520000.0
England                17641792.0
India                  14301266.0
Turkey                  8547875.0
                          ...
Paraguay                   1000.0
Trinidad and Tobago         440.0
Venezuela                   157.0
Saint Helena                107.0
San Marino                   35.0
Name: total_vaccinations, Length: 116, dtype: float64

pandas.core.series.Series

In [ ]:
Imunizados = Imunizados_por_pais.to_frame().reset_index()
Imunizados
#Gera a relação do numero total de imunizados por pais

                location  total_vaccinations
0          United States          75236003.0
1                  China          40520000.0
2                England          17641792.0
3                  India          14301266.0
4                 Turkey           8547875.0
..                   ...                 ...
111             Paraguay              1000.0
112  Trinidad and Tobago               440.0
113            Venezuela               157.0
114         Saint Helena               107.0
115           San Marino                35.0

[116 rows x 2 columns]

In [ ]:
Imunizados.sort_values('total_vaccinations',ascending=False).head(10)

               location  total_vaccinations
0         United States          75236003.0
1                 China          40520000.0
2               England          17641792.0
3                 India          14301266.0
4                Turkey           8547875.0
5                Brazil           8433568.0
6                Israel           8092725.0
7               Germany           6174362.0
8  United Arab Emirates           6020461.0
9                France           4550370.0

# **Se o banco de dados tive tipo de vacina aplicada **

Filtrando os tipos de vacinas por pais

Vacinas_por_pais = Dataframe [['location','date','vaccines']]
# #Cria datafreme com pais,data e tipo de vacina
Vacinas_por_pais.groupby('vaccines')['location'].nunique().sort_values(ascending=False)
# #Agrupa e conta os paises
Vacinas_por_pais = Dataframe.groupby('location')['vaccines'].nunique()
Vacinas_por_pais = Vacinas_por_pais.to_frame().reset_index()
# #Agrupa e reseta o indice da nova tabela

# **Pais com o maior numero de vacinados por dia**

In [ ]:
Dataframe.groupby('location')['daily_vaccinations'].max().sort_values(ascending=False)

location
China                  1916190.0
United States          1735053.0
India                   486318.0
Turkey                  435596.0
England                 376532.0
                         ...
Trinidad and Tobago         63.0
Venezuela                   31.0
Greenland                    NaN
Saint Helena                 NaN
San Marino                   NaN
Name: daily_vaccinations, Length: 116, dtype: float64

# **Media de vacinação por pais**

In [ ]:
Media_pais = Dataframe.groupby('location')['daily_vaccinations'].mean().sort_values(ascending=False)
Media_pais = Media_pais.to_frame().reset_index()
Media_pais

          location  daily_vaccinations
0    United States       982394.571429
1            China       623616.000000
2            India       306434.454545
3          England       218455.144737
4           Turkey       187049.043478
..             ...                 ...
111  Liechtenstein           52.619048
112      Venezuela           31.000000
113      Greenland                 NaN
114   Saint Helena                 NaN
115     San Marino                 NaN

[116 rows x 2 columns]

Precisa TROCAR o ponto por virgula ou mudar metodo de salvar

# **ALterando as bases de dados**

**Nome das colunas**

In [ ]:
Media_pais = Media_pais.rename(columns={'location' : 'país' , 'daily_vaccinations' : 'media_vacinação'})
Media_pais

              país  media_vacinação
0    United States    982394.571429
1            China    623616.000000
2            India    306434.454545
3          England    218455.144737
4           Turkey    187049.043478
..             ...              ...
111  Liechtenstein        52.619048
112      Venezuela        31.000000
113      Greenland              NaN
114   Saint Helena              NaN
115     San Marino              NaN

[116 rows x 2 columns]

In [ ]:
Imunizados =Imunizados.rename(columns={'location' : 'país' , 'total_vaccinations' : 'imunizados'})
Imunizados

                    país  imunizados
0          United States  75236003.0
1                  China  40520000.0
2                England  17641792.0
3                  India  14301266.0
4                 Turkey   8547875.0
..                   ...         ...
111             Paraguay      1000.0
112  Trinidad and Tobago       440.0
113            Venezuela       157.0
114         Saint Helena       107.0
115           San Marino        35.0

[116 rows x 2 columns]

# **Criando novo Dataset**

In [ ]:
Dados_tratados = pd.merge(Imunizados , Media_pais , how='inner')
Dados_tratados

                    país  imunizados  media_vacinação
0          United States  75236003.0    982394.571429
1                  China  40520000.0    623616.000000
2                England  17641792.0    218455.144737
3                  India  14301266.0    306434.454545
4                 Turkey   8547875.0    187049.043478
..                   ...         ...              ...
111             Paraguay      1000.0       250.000000
112  Trinidad and Tobago       440.0        63.000000
113            Venezuela       157.0        31.000000
114         Saint Helena       107.0              NaN
115           San Marino        35.0              NaN

[116 rows x 3 columns]

# **Exportando Base de Dados**

In [ ]:
Dados_tratados.to_csv ('Estatistica Pais.csv', index=True , sep=';')